#container{width:100%;}
#left{float:left;width:100px;}
#right{float:right;width:100px;}
#center{margin:0 auto;width:200px;}

.left-panel{
    border: 5px border-style solid;
    background-color: yellow;
}
.unorderdList{
    list-style-type: none
}
.searchbar {
    margin: auto
}