#container{width:100%;}
#left{float:left;width:100px;}
#right{float:right;width:100px;}
#center{margin:0 auto;width:200px;}

*{
    word-wrap: break-word;
}

.left-panel{
    border: 0px border-style solid;
    
}
.unorderdList{
    list-style-type: none;
    padding-left:0;
}
.searchbar {
    margin: auto;
    padding-top: 10px;
}